<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">CODENUGGETS</a>

    <style>
      #search-wrap {display:inline;width:200px;float:right}
      .gsc-search-button {display:none;}
    </style>

    <div id="search-wrap">
    <script>
      (function() {
        var cx = '015322357378710247781:t6biiclkpwu';
        var gcse = document.createElement('script');
        gcse.type = 'text/javascript';
        gcse.async = true;
        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(gcse, s);
      })();
    </script>
    <gcse:search></gcse:search>
    </div>

  </div>

</header>
